<h1>HOla mi primer proyecto</h1>
@for (task of tasks(); track task) {
<ul>
    <li>{{ task }}</li>
</ul>
}
<div>
    @switch (person().name) {
        @case ('jesus') {
        <p>soy jesus</p>
        }
        @case ('luis') {
        <p>soy luis</p>
        }
        @default {
        <p>Name no encontrado</p>
        }
        }
</div>

<div>
    <input type="color" [formControl]="colorCtrl">
    <p>color: {{ colorCtrl.value }}</p>
</div>


<input type="number" [formControl]="widthCtrl">
<span class="box" [style.width.px]="widthCtrl.value"></span>

<p>
    <input type="text" [formControl]="nameCtrl"> <br>
    <span class="messageError" [class.show]="nameCtrl.invalid && nameCtrl.touched">nombre invalido</span>
</p>
<p>
    <input type="text">
</p>
@if (name() === 'jesus') {
<div>Soy jesus</div>
}

<h2>
    if else new syntax
</h2>
@if (person().name === 'jeus') {
<div>soy jesus</div>
}@else if (person().age >18) {
<div>y soy mayor de edad</div>
}
@else {
<div>no soy jesus</div>
}
<h2>for</h2>
<ul>
    @for (task of tasks(); track task; let i= $index) {
    <li>{{ i }} {{ task }}</li>
    }@empty {
    <li><strong>lista vacia </strong></li>
    }
</ul>
<h2>switch</h2>
<div>
    @switch (person().name) {
    @case ('jesus') {
    <p>soy jesus</p>
    }
    @case ('luis') {
    <p>soy luis</p>
    }
    @default {
    <p>Name no encontrado</p>
    }
    }
</div>